Ejercicio 1. Escribe una función llamada suma que tome dos números como argumentos y devuelva la suma de esos números.

In [1]:
def suma(a, b):
    return a + b

Ejercicio 2. Escribe una función llamada cuadrados que tome un número como argumento y devuelva el número elevado al cuadrado de eses argumento.

In [ ]:
def cuadrados(numero):
    return numero ** 2

Ejercicio 3. Escribe una función llamada es_palindromo que tome una cadena como argumento y devuelva True si la cadena es un palíndromo (se lee igual de izquierda a derecha y de derecha a izquierda), y False en caso contrario.

In [ ]:
def es_palindromo(cadena):
    cadena = cadena.lower().replace(" ", "")
    return cadena == cadena[::-1]

Ahora utilizaremos Pandas o Numpy para resolver los siguientes problemas. Primero importaremos ambas librerias y asignaremos el alias **np** para numpy y **pd** para pandas.

In [2]:
import pandas as pd
import numpy as np


Ejercicio 4. Dado un DataFrame de pandas con columnas numéricas, encuentra la suma de cada columna.

In [3]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
suma_columnas = df.sum()
print(suma_columnas)

A     6
B    15
dtype: int64

Ejercicio 5. Dado un DataFrame de pandas con una columna numérica, encuentra la media de esa columna

In [4]:
data = {'A': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)
media = df['A'].mean()
print(media)

3.0

Ejercicio 6. Dadas dos matrices numpy, realiza una multiplicación de matrices.

In [5]:
matriz1 = np.array([[1, 2], [3, 4]])
matriz2 = np.array([[5, 6], [7, 8]])
resultado = np.dot(matriz1, matriz2)
print(resultado)

[[19 22]
 [43 50]]

Ejercicio 7. Dado un DataFrame de pandas con una columna de valores numéricos, filtra las filas que cumplan que el valor es mayor a 2.

In [6]:
data = {'A': [1, 2, 3, 4, 5, 8 , 10, 1, 8, 6]}
df = pd.DataFrame(data)
df_filtrado = df[df['A'] > 2]
print(df_filtrado)

    A
2   3
3   4
4   5
5   8
6  10
8   8
9   6

Ejercicio 8. Dada una serie de pandas con valores numéricos, calcula la mediana de esos valores.

In [7]:
serie = pd.Series([1, 2, 3, 4, 5])
mediana = serie.median()
print(mediana)

3.0

Ejercicio 9. Dado un DataFrame de pandas con columnas numéricas, filtra las filas que cumplan que el valor de A es mayor al de B y luego calcula la suma de las columnas.

In [8]:
data = {"A": [11, 21, 31, 4, 5], "B": [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df_filtrado = df[df["A"] > df["B"]]
suma_columnas = df_filtrado.sum()
print(suma_columnas)

A    63
B    60
dtype: int64

Ejercicio 10. Escribe una solución para encontrar los IDs de productos que son tanto bajos en grasa como reciclables. Devuelve la tabla de resultados en cualquier orden.

El formato del resultado es como se muestra en el siguiente ejemplo.



```
+-------------+
| product_id  |
+-------------+
| 1           |
| 3           |
+-------------+
```

In [10]:
data = {
    'product_id': [0, 1, 2, 3, 4,5],
    'low_fats': ['Y', 'Y', 'N', 'Y', 'N','N'],
    'recyclable': ['N', 'Y', 'Y', 'Y', 'N', 'Y']
}
df = pd.DataFrame(data)
resultado = df[(df['low_fats'] == 'Y') & (df['recyclable'] == 'Y')][['product_id']]
print(resultado.to_string(index=False))

 product_id
          1
          3

Ejercicio 11. Escribe una solución para calcular el tiempo total en minutos que cada empleado pasó en la oficina cada día. Ten en cuenta que en un solo día, un empleado puede entrar y salir más de una vez. El tiempo que un empleado pasó en la oficina para una sola entrada es igual a la hora de salida (out_time) menos la hora de entrada (in_time). Si el resultado son tiempos negativos cambiar ese valor por un 0 (cero). Devuelve la tabla de resultados en cualquier orden.

El formato del resultado es como se muestra en el siguiente ejemplo.





```
+------------+--------+------------+
| day        | emp_id | total_time |
+------------+--------+------------+
| 2020-11-28 | 1      | 173        |
| 2020-11-28 | 2      | 30         |
| 2020-12-03 | 1      | 41         |
| 2020-12-09 | 2      | 27         |
+------------+--------+------------+
```

In [11]:
import random
from datetime import datetime, timedelta

# Crear el DataFrame original
data = {
    'emp_id': [1, 1, 1, 2, 2],
    'event_day': ['2020-11-28', '2020-11-28', '2020-12-03', '2020-11-28', '2020-12-09'],
    'in_time': [4, 55, 1, 3, 47],
    'out_time': [32, 200, 42, 33, 74]
}

df = pd.DataFrame(data)

# Generar 40 filas adicionales con datos aleatorios
additional_data = []

for _ in range(40):
    emp_id = random.randint(1, 5)
    event_day = (datetime(2020, 11, 28) + timedelta(days=random.randint(0, 15))).strftime('%Y-%m-%d')
    in_time = random.randint(0, 240)
    out_time = in_time + random.randint(1, 240)
    additional_data.append([emp_id, event_day, in_time, out_time])

additional_df = pd.DataFrame(additional_data, columns=['emp_id', 'event_day', 'in_time', 'out_time'])

# Concatenar el DataFrame original y el DataFrame adicional
df = pd.concat([df, additional_df], ignore_index=True)

# Mostrar el DataFrame resultante
print(df)


## Aca debajo se puede comenzar a resolver el ejercicio.
df["duration"] = df["out_time"] - df["in_time"]

df["duration"] = df["duration"].apply(lambda x: max(x, 0))

resultado = df.groupby(["event_day", "emp_id"], as_index=False)["duration"].sum()

resultado.rename(columns={"event_day": "day", "duration": "total_time"}, inplace=True)

print(resultado)

    emp_id   event_day  in_time  out_time
0        1  2020-11-28        4        32
1        1  2020-11-28       55       200
2        1  2020-12-03        1        42
3        2  2020-11-28        3        33
4        2  2020-12-09       47        74
5        5  2020-12-04      130       212
6        4  2020-11-28      240       260
7        2  2020-12-07      219       274
8        2  2020-12-10      189       372
9        5  2020-12-02      184       333
10       1  2020-12-06      151       281
11       1  2020-12-06        3        80
12       1  2020-12-09       82        97
13       5  2020-12-12      100       199
14       1  2020-12-06       92       257
15       2  2020-12-06      148       366
16       4  2020-12-10      209       437
17       2  2020-12-04      184       277
18       4  2020-12-11       44       136
19       3  2020-12-04       87        98
20       4  2020-12-02       61       166
21       4  2020-12-06      180       314
22       2  2020-11-29      205       408
23       4  2020-12-04      127       196
24       1  2020-12-12      192       313
25       5  2020-11-28       66       300
26       5  2020-12-08       79       184
27       5  2020-12-03      104       172
28       3  2020-12-12       63        76
29       2  2020-12-01       53       195
30       3  2020-11-29      201       369
31       2  2020-12-04      169       318
32       2  2020-12-06       98       330
33       5  2020-12-01      121       133
34       5  2020-12-10       42       173
35       4  2020-11-29      149       302
36       5  2020-12-06      152       244
37       5  2020-11-29       16       182
38       4  2020-12-09       11       128
39       2  2020-12-09      147       239
40       3  2020-12-11      200       428
41       2  2020-12-13      196       349
42       1  2020-12-05      218       273
43       2  2020-12-10      239       348
44       3  2020-12-03       11       113
           day  emp_id  total_time
0   2020-11-28       1         173
1   2020-11-28       2          30
2   2020-11-28       4          20
3   2020-11-28       5         234
4   2020-11-29       2         203
5   2020-11-29       3         168
6   2020-11-29       4         153
7   2020-11-29       5         166
8   2020-12-01       2         142
9   2020-12-01       5          12
10  2020-12-02       4         105
11  2020-12-02       5         149
12  2020-12-03       1          41
13  2020-12-03       3         102
14  2020-12-03       5          68
15  2020-12-04       2         242
16  2020-12-04       3          11
17  2020-12-04       4          69
18  2020-12-04       5          82
19  2020-12-05       1          55
20  2020-12-06       1         372
21  2020-12-06       2         450
22  2020-12-06       4         134
23  2020-12-06       5          92
24  2020-12-07       2          55
25  2020-12-08       5         105
26  2020-12-09       1          15
27  2020-12-09       2         119
28  2020-12-09       4         117
29  2020-12-10       2         292
30  2020-12-10       4         228
31  2020-12-10       5         131
32  2020-12-11       3         228
33  2020-12-11       4          92
34  2020-12-12       1         121
35  2020-12-12       3          13
36  2020-12-12       5          99
37  2020-12-13       2         153