### Ejercicios Básicos para Python - Clase 2

Problema 1. Dado dos numeros 30 y 13587, calcular la multiplicación y la suma de ambos.

In [1]:
print(30*15387)
print(30+13587)

461610
13617

Problema 2. Calcula la resta y la divisón entre 7654387  y 7891.

In [3]:
print(7654387-7891)
print(7654387/7891)

7646496
970.0148270181219

Problema 3. Dado los numeros del 1 al 10, calcular la suma de la lista de numeros entre sí. Máximo 5 lineas para resolverse.

In [4]:
numeros = list(range(1, 11))
suma_total = sum(numeros)
print("La suma de los números del 1 al 10 es:", suma_total)

La suma de los números del 1 al 10 es: 55

Problema 4. Imprime los caracteres de la palabra: "Australopitecus" que se encuentran en posiciones impares.

In [7]:
palabra = "Australopitecus"
caracteres_impares = palabra[1::2]
print(caracteres_impares)

utaoieu

Problema 5. Dada las listas de numeros: [10, 20, 30, 40, 10] y [75, 65, 35, 75, 30] realizar la suma entre ambas correspondiendo a cada valor en cada posición.

In [8]:
lista1 = [10, 20, 30, 40, 10]
lista2 = [75, 65, 35, 75, 30]
suma_posicional = [a + b for a, b in zip(lista1, lista2)]
print(suma_posicional)

[85, 85, 65, 115, 40]

Problema 6. Dada la lista de numeros [75, 65, 35, 75, 30, 78, 5, 48, 33, 12, 80, 1234, 75135, 11247, 455722, 33547, 118722348] obtener los valores que sean divisibles por 3.

In [9]:
numeros = [75, 65, 35, 75, 30, 78, 5, 48, 33, 12, 80, 1234, 75135, 11247, 455722, 33547, 118722348]
divisibles_por_3 = [n for n in numeros if n % 3 == 0]
print(divisibles_por_3)

[75, 75, 30, 78, 48, 33, 12, 75135, 11247, 118722348]

Problema 7. Dada la lista de numeros: [75, 65, 35, 75, 30] imprimirla en reversa.

In [10]:
numeros = [75, 65, 35, 75, 30]
reversa = numeros[::-1]
print(reversa)

[30, 75, 35, 65, 75]

Problema 8. Imprimir la tabla de multiplicación del 12.

In [12]:
for i in range(1, 11):
    print(f"12 x {i} = {12 * i}")

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Problema 9. Imprimir el siguiente patrón:



```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [13]:
# Parte ascendente
for i in range(1, 6):
    print("* " * i)

# Parte descendente
for i in range(4, 0, -1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Problema 10. Imprimir la serie de Fibonacci hasta 11 terminos.

In [14]:
a, b = 0, 1
for _ in range(11):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34 55