Ejercicio 1. Escribe una función llamada suma que tome dos números como argumentos y devuelva la suma de esos números.

Ejercicio 2. Escribe una función llamada cuadrados que tome un número como argumento y devuelva el número elevado al cuadrado de eses argumento.

Ejercicio 3. Escribe una función llamada es_palindromo que tome una cadena como argumento y devuelva True si la cadena es un palíndromo (se lee igual de izquierda a derecha y de derecha a izquierda), y False en caso contrario.

Ahora utilizaremos Pandas o Numpy para resolver los siguientes problemas. Primero importaremos ambas librerias y asignaremos el alias **np** para numpy y **pd** para pandas.

In [ ]:
import pandas as pd
import numpy as np


Ejercicio 4. Dado un DataFrame de pandas con columnas numéricas, encuentra la suma de cada columna.

In [ ]:
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

Ejercicio 5. Dado un DataFrame de pandas con una columna numérica, encuentra la media de esa columna

In [ ]:
data = {'A': [1, 2, 3, 4, 5]}
df = pd.DataFrame(data)

Ejercicio 6. Dadas dos matrices numpy, realiza una multiplicación de matrices.

In [ ]:
matriz1 = np.array([[1, 2], [3, 4]])
matriz2 = np.array([[5, 6], [7, 8]])

Ejercicio 7. Dado un DataFrame de pandas con una columna de valores numéricos, filtra las filas que cumplan que el valor es mayor a 2.

In [ ]:
data = {'A': [1, 2, 3, 4, 5, 8 , 10, 1, 8, 6]}
df = pd.DataFrame(data)

Ejercicio 8. Dada una serie de pandas con valores numéricos, calcula la mediana de esos valores.

In [ ]:
serie = pd.Series([1, 2, 3, 4, 5])

Ejercicio 9. Dado un DataFrame de pandas con columnas numéricas, filtra las filas que cumplan que el valor de A es mayor al de B y luego calcula la suma de las columnas.

In [ ]:
data = {"A": [11, 21, 31, 4, 5], "B": [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

Ejercicio 10. Escribe una solución para encontrar los IDs de productos que son tanto bajos en grasa como reciclables. Devuelve la tabla de resultados en cualquier orden.

El formato del resultado es como se muestra en el siguiente ejemplo.



```
+-------------+
| product_id  |
+-------------+
| 1           |
| 3           |
+-------------+
```

In [ ]:
data = {
    'product_id': [0, 1, 2, 3, 4,5],
    'low_fats': ['Y', 'Y', 'N', 'Y', 'N','N'],
    'recyclable': ['N', 'Y', 'Y', 'Y', 'N', 'Y']
}
df = pd.DataFrame(data)

Ejercicio 11. Escribe una solución para calcular el tiempo total en minutos que cada empleado pasó en la oficina cada día. Ten en cuenta que en un solo día, un empleado puede entrar y salir más de una vez. El tiempo que un empleado pasó en la oficina para una sola entrada es igual a la hora de salida (out_time) menos la hora de entrada (in_time). Si el resultado son tiempos negativos cambiar ese valor por un 0 (cero). Devuelve la tabla de resultados en cualquier orden.

El formato del resultado es como se muestra en el siguiente ejemplo.





```
+------------+--------+------------+
| day        | emp_id | total_time |
+------------+--------+------------+
| 2020-11-28 | 1      | 173        |
| 2020-11-28 | 2      | 30         |
| 2020-12-03 | 1      | 41         |
| 2020-12-09 | 2      | 27         |
+------------+--------+------------+
```

In [ ]:
import random
from datetime import datetime, timedelta

# Crear el DataFrame original
data = {
    'emp_id': [1, 1, 1, 2, 2],
    'event_day': ['2020-11-28', '2020-11-28', '2020-12-03', '2020-11-28', '2020-12-09'],
    'in_time': [4, 55, 1, 3, 47],
    'out_time': [32, 200, 42, 33, 74]
}

df = pd.DataFrame(data)

# Generar 40 filas adicionales con datos aleatorios
additional_data = []

for _ in range(40):
    emp_id = random.randint(1, 5)
    event_day = (datetime(2020, 11, 28) + timedelta(days=random.randint(0, 15))).strftime('%Y-%m-%d')
    in_time = random.randint(0, 240)
    out_time = in_time + random.randint(1, 240)
    additional_data.append([emp_id, event_day, in_time, out_time])

additional_df = pd.DataFrame(additional_data, columns=['emp_id', 'event_day', 'in_time', 'out_time'])

# Concatenar el DataFrame original y el DataFrame adicional
df = pd.concat([df, additional_df], ignore_index=True)

# Mostrar el DataFrame resultante
print(df)


## Aca debajo se puede comenzar a resolver el ejercicio.

    emp_id   event_day  in_time  out_time
0        1  2020-11-28        4        32
1        1  2020-11-28       55       200
2        1  2020-12-03        1        42
3        2  2020-11-28        3        33
4        2  2020-12-09       47        74
5        2  2020-12-11       19       123
6        5  2020-12-01      159       309
7        5  2020-11-29      188       333
8        3  2020-12-13       19       105
9        4  2020-12-02      211       338
10       1  2020-11-29      217       428
11       4  2020-12-04       37        84
12       1  2020-12-08      143       293
13       5  2020-12-03      213       410
14       5  2020-11-28      203       357
15       2  2020-11-30       23        77
16       4  2020-12-02       18       225
17       4  2020-12-13      142       315
18       4  2020-12-07       43       172
19       1  2020-11-29      106       160
20       1  2020-12-07       66        83
21       2  2020-12-11       16       241
22       2  2020-12-12       90       162
23       3  2020-12-03      173       293
24       5  2020-12-05      148       155
25       2  2020-12-09      239       338
26       4  2020-12-08      222       312
27       2  2020-11-29      205       278
28       2  2020-11-30      212       432
29       4  2020-11-28      202       229
30       3  2020-12-03       71       202
31       3  2020-12-06       80       304
32       3  2020-12-02        7       119
33       3  2020-12-13      174       375
34       1  2020-12-02       71       137
35       4  2020-12-02      182       360
36       1  2020-11-28       53       181
37       2  2020-12-04      218       398
38       2  2020-12-07      204       269
39       4  2020-12-05      216       424
40       4  2020-12-13      194       405
41       3  2020-12-12      222       231
42       5  2020-11-30       78       120
43       3  2020-12-02      132       348
44       2  2020-12-01      194       257